/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* container di default */
.container {
  margin: 0 auto;
}
/* /container di default */

/* caratteristiche del bottone di default */
.button-default {
  background-color: white;
  padding: 10px 12px;
  border-radius: 20px;
}
/* /caratteristiche del bottone di default */

/* colore dle bottone nella sezione 4 */
.alter-button-color {
  background-color: #7289da;
}
/* /colore dle bottone nella sezione 4 */

/* ci permette di posizionare elementi uno affianco all'altro */
.row {
  display: flex;
}
/* /ci permette di posizionare elementi uno affianco all'altro */

/* larghezza standard dei contenitori della pagina */
.width-default-big {
  width: 80%;
}
/* larghezza standard dei contenitori della pagina */

/* larghezza standard dei contenitori della pagina */
.width-default-small {
  width: 60%;
}
/* larghezza standard dei contenitori della pagina */

/* colore del testo dei link di default nel header */
body a {
  color: white;
  text-decoration: none;
}
/* /colore del testo dei link di default nel header */

/* colore di defauld della maggior parte del testo */
.color-default {
  color: white;
}
/* /colore di defauld della maggior parte del testo */

/************ header ************/

/* 

debug header 
*/

/* contenitore esterno dell'intestazione */
.debug header .topbar {
  background-color: #add8e6;
}
/* /contenitore esterno dell'intestazione */

/* contenitore dell'intestazione */
.debug header .intestazione {
  width: 1250px;
  height: 50px;
  background-color: #daa520;
}
/* /contenitore dell'intestazione */

/* contenitori di logo, login e link */
.debug header .lil-container {
  width: 250px;
  height: 100%;
  border: black 2px dashed;
}

.debug header .big-container {
  width: calc(100% - 500px);
  border: black 2px dashed;
}
/* /contenitori di logo, login e link */

/* contenitore esterno di banner */
.debug header .container-banner {
  width: 100%;
  background-color: #00008b;
}
/* /contenitore esterno di banner */

/* contenitore del banner */
.debug header .banner {
  height: 416px;
  background-color: #ee82ee;
  border: black 2px dashed;
}
/* /contenitore del banner */

/* 
/debug header 
*/

/* 
intestazione
*/

/* contenitore dell barra superiore dell'header */
.topbar {
  height: 85px;
  background-color: #255ee9;
  padding-top: 20px;
}
/* /contenitore dell barra superiore dell'header */

/* continer che definisce la grandezza della topbar nell'header */
.container.big {
  max-width: 1250px;
}
/* /continer che definisce la grandezza della topbar nell'header */

/* contenitore padre di logo login e link */
.intestazione {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
/* /contenitore padre di logo login e link */

/* contenitori di logo, login e link */
.lil-container {
  width: 20%;
}

.big-container {
  width: 60%;
}

/* /contenitori di logo, login e link */

/* posizionamento di logo, login e link */

.login-top-pag {
  color: black;
  text-align: end;
}

.link-top-pag {
  text-align: center;
}
/* /posizionamento di logo, login e link */

/* margini tra i link centrali*/
.link-top-pag a {
  margin: 0 20px;
}
/* /margini tra i link centrali*/

/* 
/intestazione 
*/

/* 
jumbotron 
*/

/* contenitore della barra inferiore dell'header */
.bottombar {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
}
/* /contenitore della barra inferiore dell'header */

/* contenitore delle dimensioni del jumbotron */
.jumbotron {
  text-align: center;
}
/* /contenitore delle dimensioni del jumbotron */

/* margini dati al paragrafo del jumbotron */
.jumbotron p {
  margin: 20px;
}
/* /margini dati al paragrafo jumbotron*/

/* caratteristiche dati ai bottoni al di sotto dedl paragrafo */

.bottoni-bottom a {
  margin: 0 5px;
}

.bottoni-bottom .b1 {
  color: black;
}

.bottoni-bottom .b2 {
  background-color: #23272a;
}
/* /caratteristiche dati ai bottoni al di sotto dedl paragrafo */

/* 
/jumbotron
*/

/************ /header ************/

/* ***** main ****** */

/* 
debug main 
*/

.debug main .sez-big {
  height: 520px;
  width: 750px;
  background-color: #1e90ff;
  border: black dashed 2px;
}

.debug main .sez-lil {
  height: 520px;
  width: 500px;
  background-color: #ffc0cb;
  border: black dashed 2px;
}

.debug main .sezione-2,
.sezione-4 {
  background-color: #d3d3d3;
}

.debug main .sezione-4 {
  height: 1040px;
}

.debug main .final-block {
  height: 950px;
  width: 1250px;
  background-color: #228b22;
  border: black dashed 2px;
}

/*
 /debug main 
 */

/**** sezione ****/

/* colore delle del background delle sezioni a 2 a 2 */
main .sezione:nth-child(even) {
  background-color: #f6f6f6;
}
/* /colore delle del background delle sezioni a 2 a 2 */

/* spaziamenti della sezione che contiene col-big e col-lil */
.cont-sez {
  padding: 70px 0;
}
/* /spaziamenti della sezione che contiene col-big e col-lil */

/* ci permettere di disporre col-big e col-lil uno affianco all'altro */
.cont-sez .row {
  display: flex;
}
/* /ci permettere di disporre col-big e col-lil uno affianco all'altro */

/* definisce la grandezza della colonna grande e il posizionamento dell'immagine al suo interno */
.col-big {
  width: 60%;
  text-align: center;
}
/* /definisce la grandezza della colonna grande e il posizionamento dell'immagine al suo interno */

/* definisce la grandezza della colonna piccola e il posizionamento dell'immagine al suo interno*/
.col-lil {
  width: 40%;
  padding: 40px 50px;
  text-align: left;
}
/* /definisce la grandezza della colonna piccola e il posizionamento dell'immagine al suo interno*/

/* grandezza e margine del titolo della sezione delle colonne */
.grandz-font-col h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
/* /grandezza e margine del titolo della sezione delle colonne */

/* grandezza e margine del titolo della sezione delle colonne */
.grandz-font-col p {
  font-size: 16px;
}
/* /grandezza e margine del titolo della sezione delle colonne */

/* posizionamento degli lementi all'interno della sezione */
.sezione-max {
  text-align: center;
}
/* /posizionamento degli lementi all'interno della sezione */

/* grandezza immagine nella sezione 4 */
.sezione-max img {
  width: 100%;
}
/* /grandezza immagine nella sezione 4 */

/* margini di h3 nella sezione 4 */
.sezione-max h3 {
  margin: 40px 0;
}
/* /margini di h3 nella sezione 4 */

/**** /sezione ****/

/* ***** /main ****** */

/* ***** footer ***** */

/* 
debug footer 
*/

/* colore di background del footer suddiviso nelle in due parti */
.debug footer .container-footer {
  background-color: #23272a;
}
/* /colore di background del footer suddiviso nelle in due parti */

/* rappresentazione della colonna1 a sinistra */
.debug footer .colonna1 {
  background-color: #f08080;
  height: 600px;
  width: 300px;
  border: black dashed 2px;
}
/* /rappresentazione della colonna1 a sinistra */

/* rappresentazione della colonna2 a destra */
.debug footer .colonna2 {
  background-color: #20b2aa;
  height: 600px;
  width: 870px;
  border: black dashed 2px;
}
/* /rappresentazione della colonna2 a destra */

/* rappresentazioni dell varie parte contenute nella colonna2 */
.debug footer .parti {
  height: 100%;
  border: white dashed 2px;
}
/* /rappresentazioni dell varie parte contenute nella colonna2 */

/* divisione grafica delle due parti del footer */
.debug footer .footer-bottom {
  border-top: white solid 2px;
}
/* divisione grafica delle due parti del footer */

/* contenitore del logo e del bottone a fondo pagina */
.debug footer .container-endpage {
  background-color: #7fffd4;
  width: 1250px;
  height: 85px;
}
/* /contenitore del logo e del bottone a fondo pagina */

/* decorazione del logo e del bottone a fondo pagina */
.debug footer .conf-fin-pag {
  background-color: #ffb6c1;
  border: black dashed 2px;
}
/* /decorazione del logo e del bottone a fondo pagina */
/* ** debug footer ** */

footer {
  background-color: #23272a;
}

.container-footer {
  padding-top: 80px;
  padding-bottom: 60px;
  padding: 0 165px;
}

/* spaziamenti della parte superiore del footer */
.footer-top {
  padding-bottom: 40px;
}
/* /spaziamenti della parte superiore del footer */

.footer-top .colonna1 {
  width: 30%;
}

/* disposizione del contenuto nella colonna 2 */
.footer-top .colonna2 {
  width: 70%;
}
/* /disposizione del contenuto nella colonna 2 */

/* colore di default dei titoli all'interno del footer */
.color-default-titoli {
  color: #7289da;
}
/* /colore di default dei titoli all'interno del footer */

/* divisione del contenuto nella colonna2 in parti uguali */
.parti {
  flex-grow: 1;
}
/* /divisione del contenuto nella colonna2 in parti uguali */

/* distanziamento di pimg italia e p con il titolo e i link social */
.colonna1 .spaz {
  margin: 10px 0;
}
/* /distanziamento di p con il titolo e i link social */

/* spazio tra l'immagine della bandiera italiana e il paragrafo con la lingua italiana */
.spaz img {
  margin-right: 5px;
}

/* grandezza testo del pargrafo nella colonna 1 del footer top */
.colonna1 p {
  font-size: 12px;
}
/* /grandezza testo del pargrafo nella colonna 1 del footer top */

/* ridimenzionamento immagine italia */
.ridimensiona {
  height: 16px;
}
/* /ridimenzionamento immagine italia */

/* distanziamento dei link social tra di loro */
.link-social a {
  margin-right: 10px;
}

/* rimozione dei puntirni vicino all'unordered list */
.colonna2 ul {
  list-style-type: none;
}
/* /rimozione dei puntirni vicino all'unordered list */

/* distanza tra ogni punto della lista con un margine top */
.colonna2 li {
  margin-top: 20px;
  font-size: 12px;
}
/* /distanza tra ogni punto dlla lista con un margine top */

/* dimensione della parte inferiore del footer */
.footer-bottom {
  border-top: #4f5d8c solid 2px;
  padding-top: 16px;
}
/* /dimensione della parte inferiore del footer */

/* disposizione del logo e del bottone nel contenitore a fondo pagina */
.container-endpage {
  justify-content: space-between;
}
/* /disposizione del logo e del bottone nel contenitore a fondo pagina */
/* ***** /footer ***** */
