/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* container di default */
.container {
  margin: 0 auto;
}
/* /container di default */

/* caratteristiche del bottone di default */
.button-default {
  background-color: white;
  padding: 10px 12px;
  border-radius: 20px;
}
/* /caratteristiche del bottone di default */

/* colore dle bottone nella sezione 4 */
.alter-button-color {
  background-color: #7289da;
}
/* /colore dle bottone nella sezione 4 */

/* ci permette di posizionare elementi uno affianco all'altro */
.row {
  display: flex;
}
/* /ci permette di posizionare elementi uno affianco all'altro */

/* larghezza standard dei contenitori della pagina */
.width-default-big {
  width: 80%;
}
/* larghezza standard dei contenitori della pagina */

/* larghezza standard dei contenitori della pagina */
.width-default-small {
  width: 60%;
}
/* larghezza standard dei contenitori della pagina */

/* colore del testo dei link di default nel header */
body a {
  color: white;
  text-decoration: none;
}
/* /colore del testo dei link di default nel header */

/* colore di defauld della maggior parte del testo */
.color-default {
  color: white;
}
/* /colore di defauld della maggior parte del testo */

/* altezza tra le righe di p */
p {
  line-height: 1.6;
}
/* /altezza tra le righe di p */

/************ header ************/

/* 
intestazione
*/

/* contenitore dell barra superiore dell'header */
.topbar {
  height: 85px;
  background-color: #255ee9;
  padding-top: 20px;
}
/* /contenitore dell barra superiore dell'header */

/* continer che definisce la grandezza della topbar nell'header */
.container.big {
  max-width: 1250px;
}
/* /continer che definisce la grandezza della topbar nell'header */

/* contenitore padre di logo login e link */
.intestazione {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
/* /contenitore padre di logo login e link */

/* contenitori di logo, login e link */
.lil-container {
  width: 20%;
}

.big-container {
  width: 60%;
}

/* /contenitori di logo, login e link */

/* posizionamento di logo, login e link */

.login-top-pag {
  color: black;
  text-align: end;
}

.link-top-pag {
  text-align: center;
}
/* /posizionamento di logo, login e link */

/* margini tra i link centrali*/
.link-top-pag a {
  margin: 0 20px;
}
/* /margini tra i link centrali*/

/* 
/intestazione 
*/

/* 
jumbotron 
*/

/* contenitore della barra inferiore dell'header */
.bottombar {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
}
/* /contenitore della barra inferiore dell'header */

/* contenitore delle dimensioni del jumbotron */
.jumbotron {
  text-align: center;
}
/* /contenitore delle dimensioni del jumbotron */

/* margini dati al paragrafo del jumbotron */
.jumbotron p {
  margin: 20px;
}
/* /margini dati al paragrafo jumbotron*/

/* caratteristiche dati ai bottoni al di sotto dedl paragrafo */

.bottoni-bottom a {
  margin: 0 5px;
}

.bottoni-bottom .b1 {
  color: black;
}

.bottoni-bottom .b2 {
  background-color: #23272a;
}

.bottoni-bottom .b1,
.b2 {
  border-radius: 30px;
  padding: 15px 20px;
}
/* /caratteristiche dati ai bottoni al di sotto dedl paragrafo */

/* 
/jumbotron
*/

/************ /header ************/

/* ***** main ****** */

/**** sezione ****/

/* colore delle del background delle sezioni a 2 a 2 */
main :nth-child(even of .sezione) {
  background-color: #f6f6f6;
}
/* /colore delle del background delle sezioni a 2 a 2 */

/* le immagini si adattano al contenitore */
main .sezione img {
  width: 100%;
}
/* /le immagini si adattano al contenitore */

/* spaziamenti della sezione che contiene col-big e col-lil */
.cont-sez {
  padding: 70px 80px;
}
/* /spaziamenti della sezione che contiene col-big e col-lil */

/* padding ai lati che distanzia il titolo e il paragrafo dal contenitore */
.col-fu {
  padding: 0 30px;
}
/* /padding ai lati che distanzia il titolo e il paragrafo dal contenitore */

/* definisce la grandezza della colonna grande e il posizionamento dell'immagine al suo interno */
.col-big {
  width: 60%;
  text-align: center;
}
/* /definisce la grandezza della colonna grande e il posizionamento dell'immagine al suo interno */

/* definisce la grandezza della colonna piccola e il posizionamento dell'immagine al suo interno*/
.col-lil {
  width: 40%;
  padding: 40px 50px;
  text-align: left;
}
/* /definisce la grandezza della colonna piccola e il posizionamento dell'immagine al suo interno*/

/* grandezza e margine del titolo della sezione delle colonne */
.grandz-font-col h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
/* /grandezza e margine del titolo della sezione delle colonne */

/* grandezza e margine del titolo della sezione delle colonne */
.grandz-font-col p {
  font-size: 16px;
}
/* /grandezza e margine del titolo della sezione delle colonne */

/* posizionamento degli lementi all'interno della sezione */
.sezione-max {
  text-align: center;
}
/* /posizionamento degli lementi all'interno della sezione */

/* margini di h3 nella sezione 4 */
.sezione-max h3 {
  margin: 40px 0;
}
/* /margini di h3 nella sezione 4 */

.sezione-max h3 {
  background-image: url('../img/stars.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

/**** /sezione ****/

/* ***** /main ****** */

/* ***** footer ***** */

footer {
  background-color: #23272a;
}

.container-footer {
  padding: 80px 165px 60px 165px;
}

/* spaziamenti della parte superiore del footer */
.footer-top {
  padding-bottom: 40px;
}
/* /spaziamenti della parte superiore del footer */

.footer-top .colonna1 {
  width: 30%;
}

/* disposizione del contenuto nella colonna 2 */
.footer-top .colonna2 {
  width: 70%;
  justify-content: space-between;
}
/* /disposizione del contenuto nella colonna 2 */

/* colore di default dei titoli all'interno del footer */
.color-default-titoli {
  color: #7289da;
}
/* /colore di default dei titoli all'interno del footer */

/* distanziamento di pimg italia e p con il titolo e i link social */
.colonna1 .spaz {
  margin: 10px 0;
}
/* /distanziamento di p con il titolo e i link social */

/* spazio tra l'immagine della bandiera italiana e il paragrafo con la lingua italiana */
.spaz img {
  margin-right: 10px;
}
/* /spazio tra l'immagine della bandiera italiana e il paragrafo con la lingua italiana */

/* ridimenzionamento immagine italia */
.ridimensiona {
  width: 25px;
  vertical-align: middle;
}
/* /ridimenzionamento immagine italia */

/* distanziamento dei link social tra di loro */
.link-social {
  gap: 10px;
}
/* /distanziamento dei link social tra di loro */

/* grandezza testo del pargrafo nella colonna 1 del footer top */
.colonna1 p {
  font-size: 12px;
}
/* /grandezza testo del pargrafo nella colonna 1 del footer top */

/* rimozione dei puntirni vicino all'unordered list */
.colonna2 ul {
  list-style-type: none;
}
/* /rimozione dei puntirni vicino all'unordered list */

/* distanza tra ogni punto della lista con un margine top */
.colonna2 li {
  margin-top: 20px;
  font-size: 12px;
}
/* /distanza tra ogni punto dlla lista con un margine top */

/* dimensione della parte inferiore del footer */
.footer-bottom {
  border-top: #4f5d8c solid 2px;
  padding-top: 16px;
}
/* /dimensione della parte inferiore del footer */

/* disposizione del logo e del bottone nel contenitore a fondo pagina */
.container-endpage {
  justify-content: space-between;
}
/* /disposizione del logo e del bottone nel contenitore a fondo pagina */
/* ***** /footer ***** */
